Werkzeug == 3.1.6
connexion[swagger-ui] == 2.15.1
certifi >= 2024.07.04
python-dateutil >= 2.8.2
setuptools >= 21.0.0
transitions == 0.6.4
pypubsub == 4.0.3
rwlock == 0.0.7
autologging >= 1.3.2
PyYAML >= 6.0
urllib3 >= 2.6.3
six >= 1.16.0
gevent == 26.4.0
bottle >= 0.12.25
flask == 3.1.3
csvvalidator >= 1.2
pymongo == 4.17.0
